<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome!
  </h1>
</div>
<!-- <hr> -->
<!-- <div>
  <input type="text" [(ngModel)]="searchCar" />
  <input type="text" [(ngModel)]="date" />
  <div>{{call.table}}</div>
  <div>{{call.no}}</div>
  <div>{{call.effectiveDate}}</div>

  <table>
    <tbody>
      <tr *ngFor="let current of cur  | carFilter:searchCar">
        <th>{{ current?.currency }}</th>
        <th>{{ current?.code }}</th>
        <th>{{ current?.mid }}</th>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- <div>{{this.current|json}}</div> -->



<input type="date" [(ngModel)]="dateSelected">
<button (click)="fetchDate()">PUSH</button>
<div class="flex">

<p-table #dt2 [value]="current" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,15,20]">
  <ng-template pTemplate="caption">
    <div class="header">
      <div>{{call.table}}</div>
      <div>{{call.no}}</div>
      <div>{{call.effectiveDate}}</div>
    </div>
    <div class="flex">
      <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value)" placeholder="Search keyword" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="currency">Currency<p-sortIcon field="code"></p-sortIcon>
      </th>
      <th pSortableColumn="code">Code<p-sortIcon field="code"></p-sortIcon>
      </th>
      <th>Mid</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cur>
    <tr>
      <td>{{cur.currency}}</td>
      <td>{{cur.code}}</td>
      <td>{{cur.mid}}</td>
    </tr>
  </ng-template>
</p-table>
