<div [ngClass]="isDarkTheme? 'dark-theme' : 'light-theme'">
  <mat-card>
    <p-table  #dt [value]="current" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [loading]="loading"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      styleClass="p-datatable-customers p-datatable-gridlines" [rowsPerPageOptions]="[10,20]"
      [globalFilterFields]="['code', 'currency','mid','status']">
      <ng-template pTemplate="caption">
        <mat-toolbar style="justify-content: space-between;">
          <mat-form-field>
            <input (dateInput)="fetchDate()" matInput [matDatepicker]="datepicker" placeholder="Select Date" [(ngModel)]="dateSelected">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </mat-toolbar>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Symbol waluty
            <p-columnFilter type="text" field="code" display="menu"></p-columnFilter>
          </th>
          <th>Waluta
            <p-columnFilter type="text" field="currency" display="menu"></p-columnFilter>
          </th>
          <th>Kurs waluty
            <p-columnFilter type="text" field="mid" display="menu"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cur>
        <tr>
          <td>{{cur.code}}</td>
          <td>{{cur.currency}}</td>
          <td>{{cur.mid}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="error">{{error}}</div>
    <mat-slide-toggle (click)="changeTheme('md-dark-indigo')">Slide me!</mat-slide-toggle>
  </mat-card>
  <router-outlet></router-outlet>
</div>

